* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: lightsalmon;
    margin-left: 2rem;
}
h1 {
    padding-top: 50px;
    font-family: lobster;
    font-size: 6rem;
    color: white;
    text-shadow: 6px 3px 3px black;
    text-align: center;
}
.password-wrapper {
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    width: 300px;
    height: 40px;
    border-color: black;
    border-radius: 2px;
}
button {
    width: 300px;
    height: 40px;
    margin: 20px;
    background-color: black;
    color: white;
    font-family: open sans;
    font-size: 20px;
    border-radius: 2px;
}
.checks-wrapper {
    font-family: open sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    margin-left: 3rem;
}
@media screen and (min-width: 700px) {
main {
    margin-top: 9rem;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
}
